<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About Us</title>
  <link rel="stylesheet" href="../public/css/about.css" />
  <link rel="stylesheet" href="../public/css/global.css" />
  <link rel="stylesheet" href="../public/css/mediaQueries/MQ-about.css" />
  <link rel="stylesheet" href="../public/css/mediaQueries/MQ-global.css" />

</head>

<body class="">
  <!-- content header -->
  <header class="header-content">
    <p class="send-text">Envios gratis por compras superiores a $200.000</p>
    <!-- menu navegacion -->
    <div class="info-header">
      <div class="menu-hamburguesa">
        <button class="abrir-nav" id="abrir"></button>
        <nav class="content-nav" id="nav">
          <button class="cerrar-nav" id="cerrar">X</button>
          <ul class="nav-list">
            <li><a href="" class="enlace-nav">Plantas</a></li>
            <li><a href="" class="enlace-nav">Noticias</a></li>
            <li><a href="" class="enlace-nav">Talleres</a></li>
            <li><a href="" class="enlace-nav">Nosotros</a></li>
            <li><a href="" class="enlace-nav">Contactanos</a></li>
          </ul>
        </nav>
      </div>
      <div class="content-logo">
        <img src="../public/img/LogoMonsteralPng.webp" alt="imagen logo" />
      </div>
      <div class="content-search-tablet">
        <input type="search" id="search" class="search-tablet" placeholder="¿Que estas buscando?" />
        <img src="../public/img/macgnificGlass.webp" alt="" class="img-lupa" />
      </div>
      <div class="icons-content">
        <img class="icons" src="../public/img/user.webp" alt=" img user" />
        <img class="icons" src="../public/img/car.webp" alt=" img car" />
        <img class="icons" src="../public/img/whatsapp.webp" alt="img whatsapp" />
      </div>
    </div>

    <!-- </div> -->
    <div class="content-search">
      <input type="search" id="search" class="search" placeholder="¿Que estas buscando?" />
      <img src="../public/img/macgnificGlass.webp" alt="image glass" class="img-lupa" />
    </div>
    <div class="content-navigation">
      <nav class="content-nav-tablet" id="nav">
        <ul class="nav-list-tablet">

          <li><a href="" class="enlace-nav">Plantas</a></li>
          <li><a href="" class="enlace-nav">Noticias</a></li>
          <li><a href="" class="enlace-nav">Talleres</a></li>
          <li><a href="" class="enlace-nav">Nosotros</a></li>
          <li><a href="" class="enlace-nav">Contactenos</a></li>
        </ul>
      </nav>

    </div>
  </header>
  <!-- cotent principal -->
  <main>
    <!--Parte LINA MORA HISTORIA  -->
    <div class="nuestraHistoria">
      <h2 class="titulo2">Nuestra Historia</h2>
      <img src="" alt="">
      <div class="textoNH">
        <p class="contenido2">Somos un grupo de amigos apasionados por el desarrolo web y las plantas así que decidimos
          unir lo mejor de los dos mundos para que tu tambien puedas desconetarte de tu entorno y conectarte con la vida
          como lo hicimos nosotros</p>
      </div>
      <div class="">
        <img
          src="/src/a-creative-and-imaginative-image-of-a-tree-leaf-wi-hLYHJFbmQ9GtghNhLTR0Lg-haP3vV_OSoSFqCtmriOrBg.jpeg"
          alt="" class="imgDiv">
      </div>
    </div>
    <!-- Section Team, JS create cards by Francy-->
    <h1 class="title-team">Equipo</h1>
    <div class="container-team" id="container-cards">
    </div>
    <!-- Finish section team -->
    <!-- Misión - visión -->

    <!-- contenedor padre -->
    <div class="main-container-mv">
      <!-- contenedor vision-mision -->
      <div class="container-mv">
        <!-- contenedor mision -->
        <div class="container-mision">
          <h1 class="title-mv">Misión</h1>
          <p class="par-mv">
            Educamos e incentivamos la tenencia de plantas en espacios reducidos y amplios con el objetivo de crear
            ambientes frescos y diversificados, contribuyendo al medio ambiente con la ayuda de las comunidades
            alrededor
            de las plantas y cómo mejora nuestro bienestar en la vida cotidiana en un espacio lleno de vida.
            Además, nuestros esfuerzos están enfocados en promover la sostenibilidad y conciencia ambiental, contando
            con
            proveedores que ejecutan practicas ecológicas responsables.
          </p>
        </div>
        <div class="img-mision">
          <img src="/src/public/img/aboutImg/hojas-mision (1).webp" alt="img-mision">
        </div>
        <!-- contenedor vision -->
        <div class="container-vision">
          <h1 class="title-mv">Visión</h1>
          <p class="par-mv">
            Nuestra visión es posicionar el principal Ecommerce de venta de plantas, con el propósito de empoderar a la
            comunidad para promover la mejora ambiental, proporcionando información valiosa y las materias primas para
            lograr el objetivo de sembrar juntos y construir lugares armónicos.
          </p>
        </div>
        <div class="img-vision">
          <img src="/src/public/img/aboutImg/hojas-vision.webp" alt="img-vision">
        </div>
      </div>

    </div>
    <!-- Fin  mision-vision -->

    <!-- seccion de valores parte de karla .................................................................................................... -->
    <div class="valuesContainer">
      <div class="valuesTitleContainer">
        <h1 class="titleValues">Nuestros Valores</h1>
      </div>


      <!-- Targetas Valores -->

      <div class="valueContentGeneral">
        <!--contenedor general implementado en el mediaqueri Desktop -->

        <div class="valueContentBackground">
          <!-- Valor del Aprendizaje ........................................... -->

          <div class="valueF">
            <div class="value front">
              <img src="../public/img/aboutImg/learning.webp" alt="" />
              <h3>Aprendizaje</h3>
            </div>
            <div class="value back">
              <h3>Aprendizaje</h3>
              <div>
                <p>
                  Aprender nos transforma y amplía nuestros horizontes,
                  impulsándonos hacia un futuro mejor.
                </p>
              </div>
            </div>
          </div>

          <!-- div vacio para centrar las targetas ........................................... -->
          <div class="empty">
            <h1></h1>
          </div>

          <!-- div vacio para centrar las targetas...........................................  -->
          <div class="empty">
            <h1></h1>
          </div>

          <!-- Conexion con la Naturaleza ........................................... -->

          <div class="valueF">
            <div class="value1 front1">
              <img src="../public/img/aboutImg/Connection.webp" alt="" />
              <h3>Conexión con la Naturaleza</h3>
            </div>
            <div class="value1 back1">
              <h3>Conexión con la Naturaleza</h3>
              <div>
                <p>
                  La conexión con la naturaleza es esencial para el bienestar
                  físico y mental, fomentando <br />la paz interior <br />
                  y la salud.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- inicio de la segunda seccion de valores...............................................................................  -->

        <div class="valueContentBackground">
          <!-- Valor del compromiso -->

          <div class="valueF">
            <div class="value front">
              <img src="../public/img/aboutImg/commitment.webp" alt="" />
              <h3>Compromiso</h3>
            </div>
            <div class="value back">
              <h3>Compromiso</h3>
              <div>
                <p>
                  El compromiso ayuda a fortalecer la confianza, asegura la
                  responsabilidad y facilita el logro de metas nuestras metas.
                </p>
              </div>
            </div>
          </div>

          <!-- div vacio para centrar las targetas ........................................... -->
          <div class="empty">
            <h1></h1>
          </div>

          <!-- div vacio para centrar las targetas ...........................................  -->
          <div class="empty">
            <h1></h1>
          </div>

          <!-- Corresponsabilidad ...........................................-->

          <div class="valueF">
            <div class="value1 front1">
              <img src="../public/img/aboutImg/co-responsibility.webp" alt="" />
              <h3>
                Corresponsabilidad <br />
                <br />
              </h3>
            </div>
            <div class="value1 back1">
              <h3>Corresponsabilidad</h3>
              <div>
                <p>
                  ayuda a distribuir equitativamente las tareas y
                  responsabilidades, promoviendo la colaboración.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--final del div class contenerdor generar para dosktop -->
    <!-- fin de la sección valores parte Karla ................................................................................................ -->
  </main>
  <!-- content footer -->
  <script src="../js/about.js"></script>
  <script src="../app.js"></script>

</body>

</html>