<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About Us</title>
  <link rel="stylesheet" href="../public/css/about.css" />
  <link rel="stylesheet" href="../public/css/global.css" />
  <link rel="stylesheet" href="../public/css/mediaQueries/MQ-about.css" />
  <link rel="stylesheet" href="../public/css/mediaQueries/MQ-global.css" />

</head>

<body class="">
  <!-- content header -->
  <header id="menu-container"></header>
  <!-- cotent principal -->
  <main>
   
     <!--Parte LINA MORA HISTORIA  -->
 <div class="nuestraHistoria">
   
  <div class="contenedorImagen">
      <img src="../public/img/aboutImg/nuestraHistoria.png" alt="">
    </div>
  
  <div class="textoNH">
      <h2>Nuestra Historia</h2>
            <p>Somos un grupo de amigos apasionados por el desarrolo web y las plantas así que decidimos
      unir lo mejor de los dos mundos.</p>
  </div>
  
</div>

<!-- Final parte lina .......................................................  -->

    <!-- Section Team, JS create cards by Francy..........................................-->
<div class="teamH1">
    <h1 class="title-team">Equipo</h1>
    <div class="container-team" id="container-cards">
    </div>
  </div>
    <!-- Finish section team -->


    <!-- Misión - visión -->


    <!-- contenedor padre -->
    <div class="main-container-mv">
      <!-- contenedor vision-mision -->
      <div class="container-mv">
        <!-- contenedor mision -->
        <div class="container-mision">
          <h1 class="title-mv">Misión</h1>
          <p class="par-mv">
            Educamos e incentivamos la tenencia de plantas en diferentes espacios con el objetivo de crear
            ambientes frescos y diversificados, contribuyendo al medio ambiente gracias a la ayuda de las comunidades
            alrededor
            de las plantas.
          </p>
        </div>
        <div class="img-mision">
          <img src="/src/public/img/aboutImg/mision.webp" alt="img-mision">
        </div>
        <!-- contenedor vision -->
        <div class="container-vision">
          <h1 class="title-mv">Visión</h1>
          <p class="par-mv">
            Posicionarnos como el principal Ecommerce en venta de plantas, con el propósito de empoderar a la
            comunidad para promover la mejora ambiental, proporcionando información valiosa y las materias primas para
            sembrar juntos y construir lugares armónicos.
          </p>
        </div>
        <div class="img-vision">
          <img src="/src/public/img/aboutImg/vision.webp" alt="img-vision">
        </div>
      </div>

    </div>
    <!-- Fin  mision-vision -->

    <!-- seccion de valores parte de karla .................................................................................................... -->
    <div class="valuesContainer">
      <div class="valuesTitleContainer">
        <h1 class="titleValues">Nuestros Valores</h1>
      </div>


      <!-- Targetas Valores -->

      <div class="valueContentGeneral">
        <!--contenedor general implementado en el mediaqueri Desktop -->

        <div class="valueContentBackground">
          <!-- Valor del Aprendizaje ........................................... -->

          <div class="valueF">
            <div class="value front">
              <img src="../public/img/aboutImg/learning.webp" alt="" />
              <h3>Aprendizaje</h3>
            </div>
            <div class="value back">
              <h3>Aprendizaje</h3>
              <div>
                <p>
                  Aprender nos transforma y amplía nuestros horizontes,
                  impulsándonos hacia un futuro mejor.
                </p>
              </div>
            </div>
          </div>

          <!-- div vacio para centrar las targetas ........................................... -->
          <div class="empty">
            <h1></h1>
          </div>

          <!-- div vacio para centrar las targetas...........................................  -->
          <div class="empty">
            <h1></h1>
          </div>

          <!-- Conexion con la Naturaleza ........................................... -->

          <div class="valueF">
            <div class="value1 front1">
              <img src="../public/img/aboutImg/Connection.webp" alt="" />
              <h3>Conexión con la Naturaleza</h3>
            </div>
            <div class="value1 back1">
              <h3>Conexión con la Naturaleza</h3>
              <div>
                <p>
                  La conexión con la naturaleza es esencial para el bienestar
                  físico y mental, fomentando <br />la paz interior <br />
                  y la salud.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- inicio de la segunda seccion de valores...............................................................................  -->

        <div class="valueContentBackground">
          <!-- Valor del compromiso -->

          <div class="valueF">
            <div class="value front">
              <img src="../public/img/aboutImg/commitment.webp" alt="" />
              <h3>Compromiso</h3>
            </div>
            <div class="value back">
              <h3>Compromiso</h3>
              <div>
                <p>
                  El compromiso ayuda a fortalecer la confianza, asegura la
                  responsabilidad y facilita el logro de metas nuestras metas.
                </p>
              </div>
            </div>
          </div>

          <!-- div vacio para centrar las targetas ........................................... -->
          <div class="empty">
            <h1></h1>
          </div>

          <!-- div vacio para centrar las targetas ...........................................  -->
          <div class="empty">
            <h1></h1>
          </div>

          <!-- Corresponsabilidad ...........................................-->

          <div class="valueF">
            <div class="value1 front1">
              <img src="../public/img/aboutImg/co-responsibility.webp" alt="" />
              <h3>
                Corresponsabilidad <br />
                <br />
              </h3>
            </div>
            <div class="value1 back1">
              <h3>Corresponsabilidad</h3>
              <div>
                <p>
                  Ayuda a distribuir equitativamente las tareas y
                  responsabilidades, promoviendo la colaboración.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--final del div class contenerdor generar para dosktop -->
    <!-- fin de la sección valores parte Karla ................................................................................................ -->
  </main>
  <!-- content footer -->
  
  <script src="../js/about.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="../js/header.js"></script>
 




</body>

</html>