<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Page</title>
    <link rel="stylesheet" href="../public/css/global.css" />
    <link rel="stylesheet" href="../public/css/mediaQueries/MQ-global.css" />
    <link rel="stylesheet" href="../public/css/bannerNews.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../public/css/news.css">
    <link rel="stylesheet" href="../public/css/sliderNews.css">
    <link rel="stylesheet" href="../public/css/mediaQueries/MQ-news.css">
    <link rel="stylesheet" href="../public/css/mediaQueries/MQ-sliderNews.css">
  
</head>
<body>
    <div id="news"></div>

   
    <script src="../js/fetchNews.js"></script>
</body>
</html>
