<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/banner.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../public/css/mediaQueries/MQ-global.css">
    <title>Banner</title>
</head>
<body>
    <!--------------------- Banner --------------------------------------->
<div class="offer-carousel">
    <div class="carousel" id="carousel">
      <div class="slider">
        <img src="../public/img/bannerImg/Banner1.webp" alt="offer1">
      </div>
      <div class="slider">
        <img src="../public/img/bannerImg/Banner2.webp" alt="offer2">
      </div>
      <div class="slider">
        <img src="../public/img/bannerImg/Banner3.webp" alt="offer3">
      </div>

    </div>
    <div class="btn-left"><i class='bx bx-left-arrow-alt' ></i></div>
    <div class="btn-right"><i class='bx bx-right-arrow-alt'></i></div>
  </div>
  <!--------------------------- Finish Banner ------------------------------>

    <script src="../js/banner.js"></script>
</body>
</html>
