<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/sliderNews.css">
    <title>Document</title>
</head>
<body>
    <div class="sliderBody">
        <div class="gallery">
            <div class="gallery-container">
            <img src="../public/img/bannerImg/Banner1.webp" data-index="1" class="gallery-item gallery-item-1">
            <img src="../public/img/bannerImg/Banner1.webp" data-index="2" class="gallery-item gallery-item-2">
            <img src="../public/img/bannerImg/Banner1.webp" data-index="3" class="gallery-item gallery-item-3">
            <img src="../public/img/bannerImg/Banner1.webp" data-index="4" class="gallery-item gallery-item-4">
            <img src="../public/img/bannerImg/Banner1.webp" data-index="5" class="gallery-item gallery-item-5">
            </div>
            <div class="gallery-controls"></div>
            <nav class="gallery-nav">
                <ul>
                    <li class="gallery-item-selected"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </nav>
        </div>
    </div> 
      <script src="../js/sliderNews.js"> </script>
</body>
</html>