<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monsteral</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="../public/css/allCategories.css">
    <link rel="stylesheet" href="../public/css/global.css" />
    <link rel="stylesheet" href="../public/css/mediaQueries/MQ-global.css" />
    <link rel="stylesheet" href="../public/css/mediaQueries/MQ-allCategories.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../public/css/banner.css">
    <link rel="stylesheet" href="../public/css/car.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

 
    
</head>
<body>
<!-- content header -->
<header class="header-content" id="menu-container">
      
  <div class="badge text-bg-primary text-wrap" style="width: 100%;">
    Envios gratis por compras superiores a $200.000
  </div>

  <!-- menu navegacion -->
  <div class="info-header">
    <div class="menu-hamburguesa">
      <button class="abrir-nav" id="abrir"></button>
      <nav class="content-nav" id="nav">
        <button class="cerrar-nav" id="cerrar">X</button>
        <ul class="nav-list">
          <li class="link-principal">
            <a href="#"   class="enlace-nav">Plantas <img src="../public/img/arrow3.png" class="menu-arrow" alt="">
            <input type="checkbox" class="drowpdown-check">
            </a>
            <div class="content-dropdown">
              <ul class="sub-menu-mobile">
                <li><a href="../views/bonsaiCategory.html">Bonsai</a></li>
                <li><a href="../views/exteriorCategory.html">Exterior</a></li>
                <li><a href="../views/interiorCategory.html">Interior</a></li>
                <li><a href="../views/medicinalCategory.html">Medicinal</a></li>
                <li><a href="../views/suculentasCategory.html">Suculentas</a></li>
                <li><a href="../views/polinizadorasCategory.html">Polinizadoras</a></li>
                <li><a href="../views/purificadorasCategory.html">Purificadoras</a></li>
              </ul>
            </div>
            
          </li>
          <li class="link-principal"><a href="news.html"     class="enlace-nav">Noticias</a></li>
          <li class="link-principal"><a href="learn.html"    class="enlace-nav">Talleres</a></li>
          <li class="link-principal"><a href="about.html"    class="enlace-nav" >Nosotros</a></li>
          <li class="link-principal"><a href="contact.html"  class="enlace-nav">Contactanos</a></li>    
        </ul>
      </nav>
    </div>

    <div class="content-logo">
      <a href="index.html"> <img src="/src/public/img/LogoMonsteralPng.webp" alt="imagen logo"/></a>
    </div>

    <div class="content-search-tablet">
      <input type="search" id="search" class="search-tablet" placeholder="¿Que estas buscando?" />
      <img src="../public/img/macgnificGlass.webp" alt="" class="img-lupa" />
    </div>
    <div class="icons-content">
      <a href="register.html"><img class="icons" src="../public/img/user.webp" alt=" img user" /></a>  

      <a href="#"><img class="ver-carrito" id="verCarrito" src="../public/img/car.webp" alt="img car"/><span id="cantidadCarrito" class="cantidadCarrito"></span></a>  
      
      <a href="https://web.whatsapp.com/"><img class="icons" src="../public/img/whatsapp.webp" alt="img whatsapp" /></a> 
  </div>
</div>

 
  <!-- </div> -->
  <div class="content-search">
    <input type="search" id="search" class="search" placeholder="¿Que estas buscando?" />
    <img src="../public/img/macgnificGlass.webp" alt="image glass" class="img-lupa" />
  </div>
  <div class="content-navigation">
    <nav class="content-nav-tablet" id="nav">
      <ul class="nav-list-tablet">
        <li>
          <a href="#" class="enlace-nav">Plantas <img src="../public/img/arrow3.png" class="menu-arrow" alt=""></a>
          
          <ul class="sub-menu-table">
            <li class="menu-inside"><a class="menu-link-inside" href="../views/bonsaiCategory.html">Bonsai</a></li>
            <li class="menu-inside"><a class="menu-link-inside" href="../views/exteriorCategory.html">Exterior</a></li>
            <li class="menu-inside"><a class="menu-link-inside" href="../views/interiorCategory.html">Interior</a></li>
            <li class="menu-inside"><a class="menu-link-inside" href="../views/medicinalCategory.html">Medicinal</a></li>
            <li class="menu-inside"><a class="menu-link-inside" href="../views/polinizadorasCategory.html">Polinizadoras</a></li>
            <li class="menu-inside"><a class="menu-link-inside" href="../views/purificadorasCategory.html">Purificadoras</a></li>
            <li class="menu-inside"><a class="menu-link-inside" href="../views/suculentasCategory.html">Suculentas</a></li>
          </ul>
        </li>
        <li><a href="news.html" class="enlace-nav">Noticias</a></li>
        <li><a href="learn.html" class="enlace-nav">Talleres</a></li>
        <li><a href="about.html" class="enlace-nav">Nosotros</a></li>
        <li><a href="contact.html" class="enlace-nav">Contactenos</a></li>

      </ul>
    </nav>

  </div>
</header>
  <!------------------------------------ fin menu ------------------------------------------------>
  <main>


            <!--------------------- Banner --------------------------------------->
            <div class="offer-carousel">
              <div class="carousel" id="carousel">
                <div class="slider">
                  <img src="../public/img/imgCategories/exteriorCategory/bannerExterior1.webp" alt="offer1">
                </div>
                <div class="slider">
                  <img src="../public/img/imgCategories/exteriorCategory/bannerExterior2.webp" alt="offer1">
                </div>
                <div class="slider">
                  <img src="../public/img/imgCategories/exteriorCategory/bannerExterior3.webp" alt="offer1">
                </div>
        
              </div>
              <div class="btn-left"><i class='bx bx-left-arrow-alt' ></i></div>
              <div class="btn-right"><i class='bx bx-right-arrow-alt'></i></div>
            </div>
            <!--------------------------- Finish Banner ------------------------------>
        
            <!--------------------------- Section learn ------------------------------>
            <div class="ads">
              <p class="p">¡Bienvenido a la categoría de plantas de exterior! Explora y disfruta nuestra exquisita selección de productos.</p>
            </div>


    <div id="extCategory" class="containerPlants"></div> 

       <!--------------------------- inicio - Shop content ------------------------------>
       <div id="shopContent" class="shop-content"></div>
       <!--------------------------- fin - Shop content ------------------------------>
  
       <!--------------------------- inicio - Modal Container ------------------------------>
       <div id="modal-container" class="modal-container"></div>
       <!--------------------------- fin - Modal Container ------------------------------>
      
  </main>

    <!--------------------------- Footer ------------------------------>
    <div id="idFooter"></div>

    <script src="../js/footer.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="../js/menuHamburguesa.js"></script>
    <script src="../js/exteriorCategory.js"></script>
    <script src="../js/banner.js"></script>
    <script src="../js/carrito.js"></script>

</body>
</html>
