<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monsteral</title>
    <link rel="stylesheet" href="../public/css/plants.css" />
    <link rel="stylesheet" href="../public/css/global.css" />
    <link rel="stylesheet" href="../public/css/mediaQueries/MQ-about.css" />
    <link rel="stylesheet" href="../public/css/mediaQueries/MQ-global.css" />
    <link rel="stylesheet" href="../public/css/mediaQueries/MQ-plants.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../public/css/banner.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    
</head>
<body>
   <!-- content header -->
   <header class="header-content">
      
    <div class="badge text-bg-primary text-wrap" style="width: 100%;">
      Envios gratis por compras superiores a $200.000
    </div>

    <!-- menu navegacion -->
    <div class="info-header">
      <div class="menu-hamburguesa">
        <button class="abrir-nav" id="abrir"></button>
        <nav class="content-nav" id="nav">
          <button class="cerrar-nav" id="cerrar">X</button>
          <ul class="nav-list">
            <li><a href="plants.html"   class="enlace-nav">Plantas</a></li>
            <li><a href="news.html"     class="enlace-nav">Noticias</a></li>
            <li><a href="learn.html"    class="enlace-nav">Talleres</a></li>
            <li><a href="about.html"    class="enlace-nav" >Nosotros</a></li>
            <li><a href="contact.html"  class="enlace-nav">Contactanos</a></li>    
          </ul>
        </nav>
      </div>

      <div class="content-logo">
        <a href="index.html"> <img src="/src/public/img/LogoMonsteralPng.webp" alt="imagen logo"/></a>
      </div>

      <div class="content-search-tablet">
        <input type="search" id="search" class="search-tablet" placeholder="¿Que estas buscando?" />
        <img src="../public/img/macgnificGlass.webp" alt="" class="img-lupa" />
      </div>
      <div class="icons-content">
        <a href="register.html"><img class="icons" src="../public/img/user.webp" alt=" img user" /></a>   

        <a href="#"><img class="ver-carrito" id="verCarrito" src="../public/img/car.webp" alt="img car"/><span id="cantidadCarrito" class="cantidadCarrito"></span></a>  
        
        <a href="https://web.whatsapp.com/"><img class="icons" src="../public/img/whatsapp.webp" alt="img whatsapp" /></a> 
    </div>
  </div>

   
    <!-- </div> -->
    <div class="content-search">
      <input type="search" id="search" class="search" placeholder="¿Que estas buscando?" />
      <img src="../public/img/macgnificGlass.webp" alt="image glass" class="img-lupa" />
    </div>
    <div class="content-navigation">
      <nav class="content-nav-tablet" id="nav">
        <ul class="nav-list-tablet">
          <li><a href="plants.html" class="enlace-nav">Plantas</a></li>
          <li><a href="news.html" class="enlace-nav">Noticias</a></li>
          <li><a href="learn.html" class="enlace-nav">Talleres</a></li>
          <li><a href="about.html" class="enlace-nav">Nosotros</a></li>
          <li><a href="contact.html" class="enlace-nav">Contactenos</a></li>

        </ul>
      </nav>

    </div>
  </header>
  
    <main>
    
      
      <!--------------------- Banner --------------------------------------->
      <div class="offer-carousel">
        <div class="carousel" id="carousel">
          <div class="slider">
            <img src="../public/img/bannerImg/Banner1.webp" alt="offer1">
          </div>
          <div class="slider">
            <img src="../public/img/bannerImg/Banner2.webp" alt="offer2">
          </div>
          <div class="slider">
            <img src="../public/img/bannerImg/Banner3.webp" alt="offer3">
          </div>

        </div>
        <div class="btn-left"><i class='bx bx-left-arrow-alt' ></i></div>
        <div class="btn-right"><i class='bx bx-right-arrow-alt'></i></div>
      </div>
       <!--------------------------- Finish Banner ------------------------------>

     <!--------------------------- inicio - Shop content ------------------------------>
     <div id="shopContent" class="shop-content"></div>
     <!--------------------------- fin - Shop content ------------------------------>

     <!--------------------------- inicio - Modal Container ------------------------------>
     <div id="modal-container" class="modal-container"></div>
     <!--------------------------- fin - Modal Container ------------------------------>
    

    </main>

    <!--------------------------- Footer ------------------------------>
    <footer class="footer">
      <div class="logo-footer">
       <img src="../public/img/logoMonsteral.webp" alt="logo footer">
      </div>
       <a href="mailto:contactenos@monsteral.com" class="email">contactenos@monsteral.com</a>
       <div class="icons-footer">
         <a href=""><img src="../public/img/tiktok.webp" class="incos-footer" alt="icons tiktok"></a>
         <a href=""><img src="../public/img/instagram.webp" class="incos-footer" alt="icons instagram"></a>
         <a href=""><img src="../public/img/facebook.webp" class="incos-footer" alt="icons facebook"></a>
       </div>
     </footer>
    
    

 
  

</body>
</html>
