<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../public/css/register.css" />
    <link rel="stylesheet" href="../public/css/mediaQueries/MQ-register.css" />
    <link rel="stylesheet" href="../public/css/global.css" />
    <link rel="stylesheet" href="../public/css/mediaQueries/MQ-global.css" />
  
  </head>
  
  <body>
    <!-- content header -->
    <header id="menu-container">
      <!-- content created dynamicaly by script -->
    </header> 
    <!-- cotent principal -->
    <!-- Section contact -->

<main class="container-main-contact">
 
<div class="geral" >
    <div class="gContainer">
      
      <div class="registerDecoration" >

      
        <form class="formulario" id="formRegister">
          
           <!-- nombre completo -->
                <input type="text" id="fullName" name="fullName" class="input-form" required placeholder="Nombre Completo"/>
                <span class="error" id="nameError"></span>
            
            <!-- Email -->
                <input type="email" id="email" name="email" class="input-form" required placeholder="Email"/>
                <span class="error" id="emailError"></span>
          
              <!-- telefono -->
                <input type="tel" name="phone" id="phone" class="input-form" maxlength="10" required placeholder="Telefono" />
                <span class="error" id="phoneError"></span>
            
              <!-- contraseña -->
                <input type="password" name="password" id="password" class="input-form" maxlength="8" required placeholder="contraseña"/>
                <span class="error" id="passwordError"></span>
            
              <!-- Confirmar Contraseña -->
                <input type="password" name="confirmPassword" id="confirmPassword" class="input-form" maxlength="8" required placeholder="Confirmación Contraseña"/>
                <span class="error" id="confirmPasswordError"></span>
            
            <div class="btn-cont">
                <input type="submit" value="Registrar" class="btn-register" id="sub"/>
                <div><h3 class="registered">¿Ya tienes una cuenta?</h3><h3 class="login">
                  <a href="login.html" alt=" ">inicia sesión</a>
                </h3></div>
            </div>
        </form>
      </div>
  </div>
</div>
</main>
<!-- <footer >
 
</footer> -->
    <script src="../js/register.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="../js/header.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
  </body>
</html>
