
/* nuestra hisotira */














/* equipo */






/* mision y vision */






/* valores */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand";
  }

  /*PARTE DE LINA MORA HISTORIA*/
.nuestraHistoria{
    position: absolute;
    top: 10%;
    padding: 10px;
    width: 100%;
    height: 30%;
    background-color: #93953543;
    font-family: "Quicksand", sans-serif;
    border-top: 5px solid #5D5F10;
}
.titulo2{
    color: #5D5F10;
    position: absolute;
    left: 50%;
    top: -1%;
}
.textoNH{
    background-color: #9395354d;
    border-radius: 0px 50px;
    color: black;
    position: absolute;
    top: 20%;
    left: 33%;
    width: 62%;
    height: 75%;
}
.contenido2{
    position: absolute;
    top: 10%;
    right: 10%;
    left: 10%;
}
.imgDiv{
    position: static;
    border-radius: 80%;
    width: 30%;
    height: 97%;
    left: 5%;
    border: 2px solid rgb(78, 147, 62);
}

/*mision -vision*/

/*contenedor padre*/
.main-container-mv{
  width: 100%;
  height: auto;
  padding: 5%;
  border-top: 5px solid #5D5F10;
  background-image: url("/src/public/img/aboutImg/hojas\ mv.webp");
  background-size: contain;
  background-repeat: no-repeat; 
  background-position: top center;
  margin-top: 45px;;
  text-align: center;
  display: flex;
  flex-direction: row; 
}  

.container-mision{
  background-color: #C8B999;
  width: 50%;
  padding: 5%;
  margin-left: 5%;
  margin-top: 15%;
  border-radius: 40px;
}

.container-vision{
  background-color: #C8B999;
  width: 50%;
  padding: 5%;
  margin-top: 5%;
  margin-left: 50%;
  margin-right: 10%;
  border-radius: 40px;
}

h1{
  color: #5D5F10;
}

p{
  color: #523726;
}

.img-mision{
  float:left;
}

.img-vision{
  float: right;
}
/*Fin mision-vision*/



/* Se inicia estilo de la sección Valores desde MOVIL trabajada por Karla ...................................... */

  
  .valuesContainer {
    height: auto;
  border-top: 5px solid;
  border-color: #5D5F10;
  display: grid;
  place-items: center;
  gap: 2%;
  background-image: url("../img/aboutImg/mobileBackgroundV.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  }
  .valuesTitleContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    border-bottom: 5px solid;
    border-color: #5D5F10;
    width: 100%;
    margin-bottom: 20px;
    background-color: white; 
  }
  
  .titleValues{
    font-size: 20pt;
    color: #6D6E44; 
     
  }
  
  /* Contenedor del primer valor Aprendizaje */
  
  .valueF {
    position: relative;
    width: 250px;
    height: 300px;
    margin: 20px;
  }
  
  .valueF .value {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 70% 0% 70% 0%;
    overflow: hidden;
    transition: .5s;
  }
  
  .valueF .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
  }
  
  .valueF .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .valueF .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0,0,0,.4);
    padding-left: 10%;
  }
  
  .valueF .back {
    transform: perspective(600px) rotateY(180deg);
    background-color: #E4E4CC;
    padding: 15px;
    color:#5D5F10;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 5px 10px #000;
  }
  
  .valueF .back h3 {
    font-size: 15pt;
    margin-top: 20px;
    text-align: right;
  }
  .valueF .back div{
    display: flex;
    justify-content: center;
  }
  
  .valueF .back p {
    padding-top: 18%;
    width: 90%;
    font-weight:900;
    color: #6D6E44;
    line-height: 1.5;
  } 
  
  .valueF:hover .front {
    transform: perspective(600px) rotateY(180deg);
  }
  
  .valueF:hover .back {
    transform: perspective(600px) rotateY(360deg);
  }
  
  /* cabio de targeta orientacion y otras cualidades ------------------------------------------------------ */
  .valueF .value1 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 0% 70% 0% 70%;
    overflow: hidden;
    transition: .5s;
  }
  
  .valueF .front1 {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
  
    }
  
  .valueF .front1 img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .valueF .front1 h3 {
    position:absolute;
    bottom: 0;
    width: 100%;
    line-height: 40px;
    color: #fff;
    background: rgba(0,0,0,.4);
    padding-right: 2%;
    text-align: right;
    font-size: 15pt;
  }
  
  .valueF .back1 {
    transform: perspective(600px) rotateY(180deg);
    background-color: #E4E4CC;
    padding: 15px;
    color:#5D5F10;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 10px #000;
  }
  
  .valueF .back1 h3 {
    font-size: 13pt;
    margin-top: 27px;
    text-align: left;
  }
  
  .valueF .back1 div{
    display: flex;
    justify-content: center;
  }
  
  .valueF .back1 p {
    padding-top: 10%;
    width: 88%;
    font-weight:900;
    color: #6D6E44;
    line-height: 1.5;
    margin-left:  20px;
    text-align: center;
  } 
  
  .valueF:hover .front1 {
    transform: perspective(600px) rotateY(180deg);
  }
  
  .valueF:hover .back1 {
    transform: perspective(600px) rotateY(360deg);
  }
  /* final de la sección de valores desde MOVIL Trabajado por Karla.............................................................. */
  
