*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

.ads{
    background-color:#523726;
    width: auto;
    height: auto;
    padding: 2px;

    }
.p{
    font-weight: bold;
    color: #c8b999;
    text-align: center;
    font-size: .9rem;
}


/* inicio galeria imagenes */
.container .imgContainer .mainIMG{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.container .xContainer{
    height: 90px;
    display: flex;
    justify-content: space-between;

}
.container .xContainer .xContainerx{
    width: 80px;
    height: 80px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    opacity: 0.5;
}
.container .xContainer .xContainerx:hover{
    opacity: 1;
}
.active{
    opacity: 1 !important;
}
/* fin galeria imagenes */
.containerPlants{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-top: 45px;
    gap: 35px 0;
    margin-bottom: 15px;
}

.plant-card {
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #BC8150;
    border-radius: 8px;
    padding: 10px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.plant-card h2 {
    margin-top: 10px;
    color: #939535;
    font-size: 1.3rem;
    text-align: center;
}

.plant-card p{
    margin-bottom: 3px;
    color: #523726;
    font-size: 1.3rem;
    font-weight: bold;
}
/*boton imagenes*/
.plant-card button{
    border: none;
    border-radius: 5%;
    outline: 0;
    padding: 5px;
    color: white;
    font-weight: bold;
    background-color: #BC8150;
    text-align: center;
    cursor: pointer;
    width: 50%;
    font-size: 1.3rem;
    margin-top: 3%;
    margin-bottom: 3%;
  }
.plant-card button:hover{
    opacity: 0.9;
    background-color: #939535;
  }
  /*fin boton imagenes*/
  
.car{
    width: 40px;
    height: 40px;
    border: 1px solid #939535;
    border-radius: 3px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
}
.car:hover{
    transform: scale(1.2);
}
.car .carImg{
    width: 17px;
    object-fit: contain;
}

.footer{
    margin-top: 40px;
}

.logo-footer{
    cursor: pointer;
}

.footer .email:hover{
    color: black;
    text-decoration-line:underline;
}
