*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}
/* inicio galeria imagenes */
.container .imgContainer .mainIMG{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.container .xContainer{
    height: 90px;
    display: flex;
    justify-content: space-between;

}
.container .xContainer .xContainerx{
    width: 80px;
    height: 80px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    opacity: 0.5;
}
.container .xContainer .xContainerx:hover{
    opacity: 1;
}
.active{
    opacity: 1 !important;
}
/* fin galeria imagenes */

.goBack{
    color: black;
    position: absolute;
    font-size: 23px;
    padding: 5px 17px;
}
.goBack:hover{
    color: #BC8150;
}
.containerPlants{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-top: 45px;
    gap: 35px 0;
}

.plant-card {
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #BC8150;
    border-radius: 8px;
    padding: 10px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.plant-card h2 {
    margin-top: 10px;
    color: #939535;
    font-size: 1.3rem;
    text-align: center;
}

.plant-card p {
    margin-bottom: 3px;
    color: black;
    font-size: 0.8rem;
}
.car{
    width: 40px;
    height: 40px;
    border: 1px solid #939535;
    border-radius: 3px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
}
.car:hover{
    transform: scale(1.2);
}
.car .carImg{
    width: 17px;
    object-fit: contain;
}

.footer{
    margin-top: 40px;
}

.logo-footer{
    cursor: pointer;
}

.footer .email:hover{
    color: black;
    text-decoration-line:underline;
}
