  /*tamaño carrito*/
  .modal-container{
    width: 100%;
    margin: 0 35%;
    max-width: 10%;
    border-radius: 5%;
    color: #523726;
    font-weight: bold;
    background-color: #c8b999;
    display: flex;
    flex-direction: column;
    align-items: center;
  /*for the top*/
  position: fixed;
  overflow: auto;
  z-index: 9;
  top: 14vh;
  }
  .modal-container::-webkit-scrollbar{
    display: none;
  }
  .modal-header{
    display: flex;
    justify-content: space-around;
    background-color: #c8b999;
    width: 100%;
    border-bottom: #BC8150 solid 10px; 
    margin-bottom: 2%;
    padding: 2%;
  }
  .modal-header-title{
    justify-self: start;
    font-size: 25px;
  }
  .modal-header-button{
    cursor: pointer;
    color: #939535;
    font-weight: bold;
    font-size: 45px;
  }
  .modal-container {
    width: 100%;
    max-height: 300px; /* Altura máxima del contenedor con scroll */
    overflow-y: auto; /* Habilitar scroll vertical */
    
  }
  .modal-container > .modal-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 10px;
  }
  .modal-container > div > img{
    height: 120px;
    width: 120px;
    border-radius: 15%;
  }
  .total-content{
    font-size: 25px;
    padding: 10px;
    text-align: center;
    background-color: #BC8150;
    border-radius: 5%;
    margin-top: 2%;
    margin-bottom: 4%;
  }
  .delete-product{
    cursor: pointer;
    color: #939535;
    font-size: 35px;
  }
  .cantidadCarrito{
    background-color: #939535;
    width: 25px;
    text-align: center;
    right: 7.5rem;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    padding: 4px;
    top: 50px;
    position: absolute;
    display: none;
  }
  .modal-content, h3, p{
    font-size: 20px;
  }
  h3{
    font-weight: bold;
  }
  .sumar, .restar{
    cursor: pointer;
    color: #939535;
    font-size: 35px;
  }
  /*Fin carrito superior*/