* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-main-contact{
  width: auto;
  display: flex;
  flex-direction: column;
  background-image: url("../img/aboutImg/opciones-de-logo-1.webp");
  background-size:cover;
  background-position: top;
  background-repeat: no-repeat;
  gap: 1.5rem;
}
.subtitulo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #523726;
  color: #c8b999;
  text-align: center;
  padding: 5px;
  font-weight: bold;
  font-size: 10pt;
}
.cont-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}


.formulario {
  display: flex;
  width: 90%;
  flex-direction: column;
  gap: 0.3rem;
  padding: 0.7rem;
  background-color: rgb(228, 228, 204, 0.7);
  border-radius: 15px;
}
label {
  width: 90%;
  padding: 0.2rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  color: #523726;
  font-weight: bold;
}
.input-form {
  background-color: white;
  border: 1px solid #523726;
  border-radius: 10px;
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn-cont {
  width: 100%;
  height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-enviar {
  width: 70px;
  font-size: 12pt;
  padding: 0.3rem;
  border: none;
  background-color: rgb(147, 149, 53, 0.01);
  font-weight: bold;
  color: #523726;
}
.btn-enviar:hover {
  color:#939535;
  border: 2px solid #939535;
  border-radius: 10px;
  cursor: pointer;
}
.info {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
 
}
.container-info {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
  padding: 1rem;
  background-color: #c8b999;
  margin-top: 20px;
  border-radius: 10px;
  background-image: url("../img/aboutImg/opciones-de-logo-1.webp");
  background-position: bottom;

  
}
.container-info div p a {
  text-decoration: none;
  color: #939535;
  font-weight: bold;
}

.cont-info {
  display: flex;
  gap: .5rem;
  padding: .3rem;
  text-align: center;
}
.cont-info img {
  height: 20px;
}
.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: .3rem;
  width: 100%;
  height: auto;
}

.content-logo img {
  object-fit: contain;
  width: 12px;
}

.icons-content {
  display: flex;
  justify-content: center;
  height: 15px;
  width: 10px;
  gap: 15px;
}

/* 
estilos validaciones */

.error{
  text-align: center;
  font-size: 10pt;
}
