/* #523726 cafe oscuro  */
/* #C8B999 cafe claro */
/* 
normalizar nuestra hoja de estilos */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
/* content header */
.header-content {
  width: 100%;
  height:auto;
  display: flex;
  flex-direction: column;
}
.badge.text-bg-primary.text-wrap{
  background-color: #523726 !important;  
  color: #c8b999 !important;
  border-radius: 0;
  }

.info-header{
  width: 100%;
  height: 47px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #939535;
  padding-bottom: 4px;

}
.menu-hamburguesa {
  width: auto;
  height: fit-content;
  
}
.abrir-nav {
  background-color: transparent;
  background-image: url("../img/more.webp");
  width:24px;
  height: 24px;
  background-size: cover;
  border: none;
  margin-left: 10px;
}
.cerrar-nav {

  width: 15px;
  height: 20px;
  background-size: cover;
  border: none;
  margin-left: 10px;
  background-color: #523726;
  align-self: flex-start;
  color: #939535;
  font-weight: bold;
  padding: 10px;
  background-color: rgb(147, 149, 53, .1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.content-nav {
  position: absolute;
  height:35vh;
  top: 1.5rem;
  left: 0;
  width: 40%;
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(82, 55, 38);
  padding: 1rem;
  text-align: center;
  border-radius: 0 20px 20px 0;
    
}

.content-nav.visible {
  opacity: 1;
  visibility: visible;
  opacity: 96%;
  z-index: 30;
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80vh;
  gap: .4rem;
  list-style-type: none;
  
} 
ul.nav-list{
  
  padding-left: 0;
}
.cerrar-nav ul{
  padding-left: none!important;
}
.content-nav ul li{
  border-bottom: 1.5px solid #939535;
 padding-left: none;

}

.content-nav ul li a {
  text-decoration: none;
  color:#c8b999;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
}
.content-nav ul li a:hover{
  color: #939535;
  font-size: 10pt;
}
.content-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-logo img {
  width: 110px;
}
.icons-content{
display: flex;
justify-content: center;
gap:20px;
}

.icons-content a {
  height: 20px;
  width: fit-content;    
}
.icons-content a img{
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

/*Carrito superior*/
/*tamaño carrito*/
.container-car .icons{  
  width: 40px;
}
/*circulo del carrito*/
.container-car span{
  background-color:#939535;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  top: -5px;
  left: 80%;
  padding: 3px 10px;
}
.navCard {
  display: none; 
}
.container-car nav button {
  display: none; 
}

.navCard li{
  list-style: none;
  padding: 1rem;
  font-weight: bold;
}

.buy-card {
  width: 0; 
  height: 0; 
  background-color: #fff; 
  position: absolute; 
  right: 0; 
  overflow: hidden; 
  transition: all 0.3s ease; 
}

.buy-card h1{
  color: #523726;
  font-weight: bold;
  font-size: 30px;
  margin: 0;
  margin-top: 10px;
  padding: 0 20px;
  display: flex;
  font-style: normal;
  justify-content: center;
  align-items: center;
}

.container-car:hover .buy-card {
  width: 500px; 
  height: auto; 
  background-color: #c8b999; 
  z-index: 10;
}

.container-car {
  position: relative;
}

.container-car nav .navCard{
  font-size: 19px;
  display: flex;
  justify-content: space-between;
  margin: 0 10px 0 10px;
  border-bottom: solid #BC8150;
  color: #523726;
  font-weight: bold;
  font-style: normal;
}
/*vaciar*/
.container-car nav .buy-card > .checkout button{
  display: block;
  width: 90%;
  height: 70%;
  padding: 5px;
  margin: 5px auto;
  background-color: transparent;
  border: solid #BC8150;
  color: #494848;
  cursor: pointer;
  font-weight: bold;
  color: #523726;
  font-size: 20px;
}
.container-car  nav .buy-card:hover > .checkout button:hover{
  border: solid 3px #523726;
  transition: all .4s;
  background-color: #939535;
}
/*close*/
.container-car nav .buy-card > .checkout .close{
  display: block;
  width: 90%;
  height: 70%;
  padding: 5px;
  margin: 5px auto;
  background-color: transparent;
  border: solid #BC8150;
  color: #494848;
  cursor: pointer;
  font-weight: bold;
  color: #523726;
  font-size: 20px;
  text-align: center;
  font-style: normal;
}
.container-car  nav:hover .buy-card > .checkout .close:hover{
  border: solid 3px #523726;
  transition: all .4s;
  background-color: #939535;
}
/*division boton cerrar y vaciar*/
.container-car .checkout{
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}
.total{
  background-color: #BC8150; 
  color: #523726;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  width: 100%;
  height: 30px;
  padding: 5px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*boton agregar carrito*/
.plant-card h2{
  font-size: 20px; 
  font-weight: bold;
  color: #523726; 
  margin: 10px 0; 
  text-align: center; 
}

.plant-card p {
  font-size: 16px; 
  font-weight: bold;
  color: #523726; 
  margin: 3px 0; 
  text-align: center; 
}
.add-to-cart {
  background-color: #BC8150;
  font-weight: bold;
  color: white; 
  padding: 5px 10px; 
  border: none; 
  cursor: pointer; 
  font-size: 15px; 
  border-radius: 5px; 
  margin-top: 5px;
}

.add-to-cart:hover {
  background-color: #45a049; /* Cambio de color de fondo al pasar el ratón */
}

/*Fin carrito superior*/

.content-search {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 3px;
  padding: 10px;
  height: auto;
  border-bottom: 2px solid #939535;
  
}
.content-search-tablet{
  display: none;
}

.content-navigation{
  display: none;
}
.content-nav-tablet{
  display: none;
}
.nav-list-table{
  display: none;
}
.search {
  border: 1px solid black;
  width: 200px;
  text-align: center;
  height: 18px;
  padding: 10px;
  border-radius: 10px;
  font-size: 9pt;
}

.img-lupa {
  height: 18px;
}

/* Footer */
.footer{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c8b999;
  gap: 5px;
  padding-bottom: .4rem;
  border-top:  8px solid #523726;
}

.logo-footer{
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  padding: .3rem;
}
.logo-footer img{
  width: 50px;
}
.footer .email{
  color: #523726;
  text-decoration: none;
  font-size: 10pt;
}

.icons-footer{
  display: flex;
  width: 100%;
  height: auto;
  justify-content:center;
  gap: 2rem;
  padding: .2rem;
}

.icons-footer img{
  height: 2vh;
}
