/* #523726 cafe oscuro  */
/* #C8B999 cafe claro */
/* 
normalizar nuestra hoja de estilos */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
/* content header */
.header-content {
  width: 100%;
  height:auto;
  display: flex;
  flex-direction: column;
}
.send-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #523726;
  color: #c8b999;
  text-align: center;
  padding: 5px;
  font-weight: bold;
  font-size: 9pt;
}

.info-header{
  display: flex;
  width: 100%;
  align-items: center;
 gap: 3rem;
  padding: .2rem;
}
.menu-hamburguesa {
  width: 15%;
}
.abrir-nav {
  background-image: url(../img/more.webp);
  width: 18px;
  height: 18px;
  background-size: cover;
  border: none;
  margin-left: 10px;
}
.cerrar-nav {
  width: 15px;
  height: 20px;
  background-size: cover;
  border: none;
  margin-left: 10px;
  background-color: #523726;
  align-self: flex-start;
  color: #939535;
  font-weight: bold;
  padding: 10px;
  background-color: rgb(147, 149, 53, .1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.content-nav {
  position: absolute;
  height: 100vh;
  top: 1.5rem;
  left: 0;
  width: 50%;
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(82, 55, 38);
  padding: 1rem;
  text-align: center;
}

.content-nav.visible {
  opacity: 1;
  visibility: visible;
}
.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80vh;
  gap: .4rem;
  list-style-type: none;

}
.content-nav ul li{
  border-bottom: 1.5px solid #939535;
  padding: .3rem;

}

.content-nav ul li a {
  text-decoration: none;
  color:#c8b999;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
}
.content-nav ul li a:hover{
  color: #939535;
  font-size: 10pt;
}
.content-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-logo img {
  object-fit: contain;
  width: 120px;
}

.icons-content {
  display: flex;
  justify-content: center;
  height: 18px;
  gap: 10px;
}
.content-search {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-top: 2px solid #939535;
  padding: 10px;
  height: auto;
  
}
.content-search-tablet{
  display: none;
}

.content-navigation{
  display: none;
}
.content-nav-tablet{
  display: none;
}
.nav-list-table{
  display: none;
}
.search {
  border: 1px solid black;
  width: 200px;
  text-align: center;
  height: 18px;
  padding: 10px;
  border-radius: 10px;
}

.img-lupa {
  height: 20px;
}
