*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

  .subTitles{
    background-color: #523726;
    text-align: center;
    color: wheat;
    margin-bottom: 15px;
    font-size: 1rem;
    padding: 8px 0px 8px 0px;
    margin-top: 20px;
  }

.main{
  height: 100px;
  background-color: #523726;
}
  .containerProducts{
      width: 100%;
      display: grid;
      grid-template-columns: repeat(1,1fr);
      margin-top: 45px;
      gap: 35px 0;
  }
