*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

.plant-card {
    border: 3px solid #BC8150;
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.plant-card h2 {
    margin-top: 0;
    color: #333333;
}

.plant-card p {
    margin: 5px 0;
    color: #555555;
}

.plant-card ul {
    list-style-type: none;
    padding: 0;
}

.plant-card li {
    margin: 5px 0;
}