*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}
.containerPlants{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px 0;
}

.plant-card {
    width: 165px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #BC8150;
    border-radius: 8px;
    padding: 10px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.plant-card h2 {
    margin-top: 10px;
    color: #939535;
    font-size: 0.8rem;
    text-align: center;
}

.plant-card p {
    margin-bottom: 3px;
    color: black;
    font-size: .7rem;

}

.plant-card .plantImg{
    width: 140px;
    height: 140px;
    border-radius: 10px;
}

.car{
    width: auto;
    height: auto;
    border: 1px solid #939535;
    border-radius: 3px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.car .carImg{
    width: 17px;
    object-fit: contain;
}