/* media query tablet */

@media screen and (min-width:768px){

    .containerPlants{
        grid-template-columns: repeat(2,1fr);
        /* margin-top: 105px; */
    }

    .p{
        font-size: 1.4rem;
        padding: 5px;
    }

    .plant-card {
        width: 300px;
    }
    .container .xContainer .xContainerx{
        width: 65px;
        height: 65px;
    }
    .plant-card h2 {
        font-size: 1.1rem;
    }
    
    .plant-card p {
        font-size: .8rem;
    }
    
    .plant-card .plantImg{
        width: 150px;
        height: 150px;
    }
    
    .car .carImg{
        width: 18px;
    }    

    .logo-footer img{
        width: 75px;
    }
    .subTitles{
        font-size: 1.5rem;
        font-weight: bolder;
    }
}
@media screen and (min-width:1024px){
    .containerPlants{
        grid-template-columns: repeat(3,1fr);
        
    }
    
    .footer {
        height: 20vh;
    }
}
