/* media query tablet */

@media screen and (min-width:768px){
/* parte lina ............................................... */

.nuestraHistoria{
  background-color: #E4E4CC;
  display:flex;
  justify-content:center;
  border-top: 5px solid #5D5F10;
  margin-top: 30px;
  padding: 20px;
}

.contenedorImagen{
width: 190px;
height: 250px;
}

.textoNH{
  width: 450px;
  height:fit-content;
  justify-content: center;
  margin: 20px;
  padding: 10px;

}
.textoNH h2{
  margin-bottom: 10px;
  font-size: 20pt;
}
.textoNH p{
  font-size: 15pt;
  font-weight:500;
  line-height: 40px; 
}
/* final lina.................................................................................. */

  .container-team{
      background-image: url(../../img/aboutImg/hojas-tablet.webp);
      background-size: cover;
      background-position: right;
      background-repeat: no-repeat;
      justify-content: left;
  }

  .card-team{
      width: 70%;
  }
  .card-descrip-front{
      border-radius: 0% 70%;
  }
  .card-team p{
      font-size: 16px;
  }
}

/* query desktop */

@media (min-width:1024px){
    /* INICIO LINA MORA */
    .contenedorImagen{
      width: 500px;
      display: flex;
      justify-content: center;
    }
    .textoNH{
        font-size: 25px;        
    }  
    /* FINAL LINA MORA */

  .container-team{
      background-image: url(../../img/aboutImg/Desktop.png) ;
      background-size: cover;
      background-repeat: no-repeat;
      justify-content: center;
  }
  .card-team{
      width: 35%;
      height: 300px;
  }
  .card-team p{
      font-size: .9rem;
      margin: 80px;
  }
}

/*mision y vision version mobile ...................................*/
@media (max-width: 480px) {
  .main-container-mv {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .container-mision{
    width: 90%;
    padding: 5%;
    margin: auto;
    margin-top: 1%;
    text-align: center;
  }
  .img-mision{
    max-width: 100%; 
    width: 100%;
    height: auto;
    margin-left: 5%;
  }
  .img-mision img{
    width: 50%;
    height: auto;
    float:left;
    margin-left: 15%;
  }
  .container-vision{
    width: 90%;
    padding: 5%;
    margin: auto;
    margin-top: 60%;
    text-align: center;
  }
  .img-vision{
    max-width: 100%; 
    width: 100%;
    height: auto;
    margin-right: 5%;
  }
  .img-vision img{
    width: 50%;
    height: auto;
    float: right;
    margin-right: 15%;
  }
}
  
  
  /* Se inicia diseño adaptativo media queries para tablet KARLA....................................................................................... */
  
  @media(min-width:768px){
  
    .valueContentBackground{
      background-color:#E4E4CC;
      width: auto;
      border-radius: 20px;
      display: grid;
      grid-template-columns:repeat(2,1fr);
      background-image:url(../../img/aboutImg/tabletBackgroundV.webp);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-bottom: 4%;
    }
  
    .valuesContainer {
      height: auto;
    border-top: 5px solid;
    border-color: #5D5F10;
    display: grid;
    place-items: center;
    gap: 2%;
    background-image: none;
    }
     
    /* Contenedor del primer vacio */
    .empty{
      position: relative;
      width: 250px;
      height: 300px;
      margin: 20px;
      }
  
    .valueF .value { 
      border-radius: 0% 25% 0% 25%;  
    }
    
     
    .valueF .front h3 {
      text-align: center;
      font-size: 16pt;
    }
    .valueF .back {
    background-color: #C8B999;
    }
    
    .valueF .back h3 {
      font-size: 18pt;
      text-align: center;
      color:#5D5F10;
      
    }
    .valueF .back div{
      display: flex;
      justify-content: center;
    }
    
    .valueF .back p {
      padding-top: 10%;
      font-size: 14pt;
      width: 92%;
      margin-left: 0%;
    } 
    
    .valueF:hover .front {
      transform: perspective(600px) rotateY(180deg);
    }
    
    .valueF:hover .back {
      transform: perspective(600px) rotateY(360deg);
    }
    
    /* cabio de targeta orientacion y otras cualidades ------------------------------------------------------ */
    .valueF .value1 {
      border-radius: 0% 25% 0% 25%;
    }
    
    .valueF .front1 h3 {
      line-height: 40px; 
      padding-right: 0%;
      text-align:center;
      font-size: 16pt;
    }
  
    .valueF .back1 {
      background-color: #C8B999;
      }
  
    .valueF .back1 h3 {
      font-size: 18pt;
      text-align: center;
      margin-top: 10%;
    }
    
    .valueF .back1 div{
      display: flex;
      justify-content: center;
    }
    
    .valueF .back1 p {
      padding-top: 10%;
      width: 95%;
      color: #6D6E44;
      margin-left:  0%;
      text-align: center;
      font-size: 14pt;
    } 
    
    .valueF:hover .front1 {
      transform: perspective(600px) rotateY(180deg);
    }
    
    .valueF:hover .back1 {
      transform: perspective(600px) rotateY(360deg);
    } 
  
  }
  /* Se inicia diseño adaptativo media queries para DESKTOP....................................................................................... */
   
  @media(min-width:1024px){

     /* parte lina ........................................... */

.nuestraHistoria{
  background-color: #E4E4CC;
  display:flex;
  justify-content: center;
  align-items: center;
  border-top: 5px solid #5D5F10;
  margin-top: 30px;
  padding: 20px;
}
.contenedorImagen{
width: 290px;
height: 380px;
}
.contenedorImagen img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textoNH{
  width: 60%;
  margin: 20px;
  padding: 10px;

}
.textoNH h2{
  margin-bottom: 10px;
  font-size: 20pt;
}
.textoNH p{
  font-size: 16pt;
  font-weight:500;
  line-height: 60px; 
}
/* final lina.................................................................................. */
  
    .valueContentGeneral{
      background-color:#E4E4CC;
      width: 70%;
      height: auto;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      border-radius: 50px;
      gap: 10px;
      background-image:url(../../img/aboutImg/tabletBackgroundV.webp);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-bottom: 100px;
    
    }    
  
    .valueContentBackground{
      background-color: transparent;
      width:fit-content;
      height:fit-content ;
      display: inline-flex;
      grid-template-columns:min-content;
      align-items: center;
      background-image:none;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-top: 30px;
      margin-bottom: 3%;
    }
  
    .valuesContainer {
      height: auto;
    border-top: 5px solid;
    border-color:none;
    display: grid;
    place-items: center;
    gap: 2%;
    background-image: none;
      
    }
    
     /*Contenedor del primer valor*/
    .empty{                               /*contenedor vacio*/
     position: relative;
      width: 0px;
      height:0px;
      margin: none;
      background-color: #5D5F10;
       }
  
    .valueF .value { 
      border-radius: 0% 25% 0% 25%;  
    }
      
    .valueF .front h3 {
      text-align: center;
      font-size: 16pt;
    }
    .valueF .back {
    background-color: #C8B999;
    }
    
    .valueF .back h3 {
      font-size: 18pt;
      text-align: center;
      color:#5D5F10;
      
    }
    .valueF .back div{             /*div que contiene la etiqueta p para que su distribucion sea mejor*/
      display: flex;
      justify-content: center;
      
    }
    
    .valueF .back p {
      padding-top: 10%;
      font-size: 14pt;
      width: 92%;
      margin-left: 0%;
    } 
    
    .valueF:hover .front {
      transform: perspective(600px) rotateY(180deg);
    }
    
    .valueF:hover .back {
      transform: perspective(600px) rotateY(360deg);
    }
    
    /* cabio de targeta orientacion y otras cualidades ------------------------------------------------------ */
    .valueF .value1 {
      border-radius: 0% 25% 0% 25%;
    }
    
    .valueF .front1 h3 {
      line-height: 40px; 
      padding-right: 0%;
      text-align:center;
      font-size: 16pt;
    }
  
    .valueF .back1 {
      background-color: #C8B999;
      }
  
    .valueF .back1 h3 {
      font-size: 18pt;
      text-align: center;
      margin-top: 10%;
    }
    
    .valueF .back1 div{
      display: flex;
      justify-content: center;
    }
    
    .valueF .back1 p {
      padding-top: 10%;
      width: 95%;
      color: #6D6E44;
      margin-left:  0%;
      text-align: center;
      font-size: 14pt;
    } 
    
    .valueF:hover .front1 {
      transform: perspective(600px) rotateY(180deg);
    }
    
    .valueF:hover .back1 {
      transform: perspective(600px) rotateY(360deg);
    }
  
  }

  /* Fin del MQ de karla .......................................................................................................................... */