
/* @media screen and (min-width: 768px) {

  .cantidadCarrito{
    width: 30px;
    padding-bottom:3% ;
    right: 4.5rem;
    top: 40px;
  }

    .subTitleCar{
        font-size: 15px;
    }
      } */
 /* 
  .total-content{
    font-size: 20px;
  }
  .delete-product{
    font-size: 25px;
  }

  .modal-content, h3, p{
    font-size: 13px;
  }
  .sumar, .restar{
    font-size: 25px;
  }
}
*/
/*
   @media screen and (min-width: 375px) {

    .modal-container{
      width: 100%;
      max-width: 90%;
      margin: 0 5%;
    }
    .modal-header{
      margin-top: 1%;
      margin-bottom: 1%;
      padding: 1%;
      border-bottom: #BC8150 solid 5px; 
    }
    .modal-header-title{
      font-size: 20px;
      margin-bottom: 1%;
    }
    .modal-header-button{
      font-size: 30px;
    }
  
    .modal-container > div > img{
      height: 40px;
      width: 40px;
    }
    .total-content{
      font-size: 15px;
    }
    .delete-product{
      font-size: 15px;
    }
    span .cantidadCarrito{
      width: 15px;
      font-size: 10px;
      right: 3.5rem;
      top: 40px;
    }
    .subTitleCar{
      font-size: 11px;
    }
    .sumar, .restar{
      font-size: 15px;
    }
  }
  /*Fin carrito superior*/
