@media screen and (min-width:768px){

    .ads{
        font-size: 1.4rem;
        padding: 5px;
    }

    .learn-card{
        width: 32%;

    }
    .price {
        font-size: .9rem;
    }
    .place{
        font-size: .8rem;
    }
    .learn-card h2{
        font-size: 1.2rem;
    }
    .learn-content{
        font-size: 1.5rem;
    }
    .learn-button{
        font-size: 1.3rem;
    }

}
@media(min-width:1024px){
    
    .containerLearn{
        gap: 1.5rem;
    }
    .learn-card{
        width: 23%;
    }
    .price {
        font-size: 1.2rem;
    }
    .place{
        font-size: 1rem;
    }
    .learn-card h2{
        font-size: 1.4rem;
    }
    

}